.vscode
**__pycache__**
metadata/
model_checkpoints/
visualisation/
*checkpoint.ipynb
.idea
.ipynb_checkpoints
*.egg-info
*.png
*.DS_Store
logs
save_dataset
combined_synthetic/
medigan
archived_files/
*.out
*paths.py